[Unit]
Description=Configure bluetooth device
After=bluetooth.target
Wants=bluetooth.target

[Service]
ExecStart=/usr/local/bin/configure-bluetooth-device.sh
Type=oneshot

[Install]
WantedBy=multi-user.target
